@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User</h1>
    <a class="btn btn-primary" asp-action="IndexExpense" asp-controller="Expense">View Expenses</a>
    <a class="btn btn-primary" asp-action="CreateEditExpense" asp-controller="Expense">Create or Edit Expense</a>
</div>
